/* CSS Resets */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Main CSS */
:root {
	--bg-primary: #4e5266;
	--bg-secondary: #575B72;
	--color-primary: #4cabb1;
	--color-secondary: #69c7ad;
	--color-tertiary: #fed586;
	--font: 'Raleway', sans-serif;
	--text-color: #434b56;
	--heading-color: #fff;
	font-size: 16px;
}
body {
	font-family: var(--font);
	line-height: 1.5;
	color: var(--text-color);
}


/********** Base CSS *************/
*, *:before, *:after {
	box-sizing: border-box;
}
a {
	text-decoration: none;
	color: black;
}
button {
	border: 0;
	cursor: pointer;
}
button:focus {
	outline: 0;
}
input {
	border: 0;
	margin: 0;
}
input:focus {
	outline: 0;
}
/** Heading Elements **/
h1 {
	font-size: 3rem;
	font-weight: 700;
}
h2 {
	font-size: 2.5rem;
	font-weight: 700;
}
h3 {
	font-size: 2rem;
	font-weight: 700;
}
h4 {
	font-size: 1.5rem;
	font-weight: 700;
}
h5 {
	font-size: 1rem;
	font-weight: 700;
}
h6 {
	font-size: 0.8rem;
	font-weight: 700;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
.capitalize {
	text-transform: capitalize;
}
.uppercase {
	text-transform: uppercase;
}
.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.img-responsive {
	width: 100%;
}
/** clearfix **/
.clearfix:before, .clearfix:after {
	content: '';
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}

/* General */
.wrapper {
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
}

/* BookStore Styles */

header{
	/* background-color: rgba(228, 106, 106, 0.562); */
	text-align: center;
		
}

header h1 {
	font-size: 16px;
	color: rgb(12, 11, 11);
}

header a {
	color: rgb(0, 0, 0);
}

/* Form Styles */

.form-container {
	width: 500px;
	margin: 0 auto;
	border: 0.5px solid papayawhip;
}

.form {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
}

.form input {
	width: 100%;
	padding: 10px;
	border-bottom: 0.5px solid mistyrose;
}

.form textarea {
	min-width: 100%;
}

/* HomePage styles */
.book-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 5px;
	box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.52);
}
.book-container span {
	font-size: 12px;
	color: rgb(187, 183, 183);
}
.book-container button {
	background: none;
}
.book-container button a {
	color: rgb(131, 33, 33);
}
.book {
	min-width: 300px;
	padding: 5px;
	border: 0.5px solid;
	margin: 5px;
}
.book:hover {
	border: 1px solid rgb(196, 81, 36);
}

/* Book Details Page Styles */

.book-details-section {
	min-height: 350px;
	/* background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,0.8435749299719888) 0%, rgba(172,38,111,1) 56%, rgba(0,134,255,0.7987570028011204) 100%); */
	/* background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); */
	background: rgb(238,174,202);
	background: radial-gradient(circle, rgba(238,174,202,0.8155637254901961) 0%, rgba(148,187,233,1) 100%);
	padding: 30px;
	display: flex;
	justify-content: flex-start;
}

.book-details {
		min-width: 300px;
		margin: 10px;
}
.book-title {
	color: #fff;
	font-weight: bold;
	font-size: 24px;
}
.book-author {
	color: rgba(34, 80, 70, 0.863);
	font-weight: bold;
	margin-top: 10px;
}
.book-tags {
	color: #fff;
	font-weight: bold;
	font-size: 14px;
}

.book-description {
	width: 550px;
	margin: 10px;
}

.book-details-section img {
	width: 250px;
	height: 300px;
}

/* All Author Page Styles */
.author-all {
	border: 0.1px solid;
}


















/* body {
	background-color: rgba(250, 241, 255, 0.904);
}
.book-details {
	display: grid;
	grid-template-columns: 150px 1fr;
	grid-column-gap: 20px;
	border: 0.1px solid;
	padding: 10px;
	font-family: 'Courier New', Courier, monospace;

}
.book-details p {
	margin: 2px;
	
} */














