<!DOCTYPE html>
<html>
  <head>
    <title>bookStore</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <main>
      <header>
        <img src="http://localhost:3000/images/open-book.svg" alt="book">
        <h1>
          <a href="/">bookStore</a>
        </h1>
      </header>
      <!-- Form Section -->
      <section>
        <div class="form-container">
          <form action="/authors" method="POST" class="form">
            <input type="text" name="name" placeholder="Enter author name">
            <input type="number" name="age" placeholder="age">
            <textarea rows="4" cols="1" type="text" name="description" placeholder="enter author description"></textarea>
            <input type="submit" value="Submit">
          </form>
        </div>
      </section>
    </main>
  </body>
</html>
