<!DOCTYPE html>
<html>
  <head>
    <title>bookStore</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <main>
      <header>
        <img src="http://localhost:3000/images/open-book.svg" alt="book">
        <h1>
          <a href="/">bookStore</a>
        </h1>
        <% include partials/header %>
      </header>
      
      <section>
        <% authors.forEach(author => { %>
          <div class="author-all">
            <p>Name: <%= author.name %></p>
            <p>Description: <%= author.description %></p>
            <p>Books: <%= author.books.length %></p>
          </div>
            <% }) %>

      </section>
    </main>
  </body>
</html>
