<!DOCTYPE html>
<html lang="en">
  <head>
    <title>altCampus bookStore</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <main>
      <header>
        <img src="http://localhost:3000/images/open-book.svg" alt="book">
        <h1>
          <a href="/">bookStore</a>
        </h1>
        
      </header>
      <section>
        <div>
					<h2>Author Info</h2>
				</div>
				<div>
					<p>Name: </p>
					<p>Description</p>
					<p>Age: </p>
					<p>Authored Books: </p>
				</div>

      </section>
    </main>
  </body>
</html>
