<!DOCTYPE html>
<html lang="en">
  <head>
    <title>altCampus bookStore</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <main>
      <header>
        <h1><a href="/">altCampus bookStore</a></h1>
      </header>
      <section>
        <div>
					<h2>Author Info</h2>
				</div>
				<div>
					<p>Name: </p>
					<p>Description</p>
					<p>Age: </p>
					<p>Authored Books: </p>
				</div>

      </section>
    </main>
  </body>
</html>
