<!DOCTYPE html>
<html lang="en">
  <head>
    <title>bookStore</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <main>
      <header>
        <img src="http://localhost:3000/images/open-book.svg" alt="book">
        <h1>
          <a href="/">bookStore</a>
        </h1>
      </header>
      <section class="book-details-section">
        <div class="book-details">
          <p class="book-title"><%= book.title %></p>
          <p class="book-author"><%= book.author.name %></p>
          <p class="book-tags"><%= book.tags %></p>
        </div>
        <div class="book-description">
          <p><%= book.description %></p>
        </div>

      </section>
    </main>
  </body>
</html>
