<!DOCTYPE html>
<html>
  <head>
    <title>altCampus bookStore</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <main>
      <header>
        <img src="http://localhost:3000/images/open-book.svg" alt="book">
        <h1>
          <a href="/">bookStore</a>
        </h1>
      </header>
      <section>
        <% include partials/authorheader.ejs %>
      </section>
      <!-- Form Section -->
      <section>
        <div class="form-container">
          <form action="/authors/books/create" method="POST" class="form">
            <input type="text" name="title" placeholder="Enter a book title">
            <textarea rows="4" cols="1" type="text" name="description" placeholder="enter book description"></textarea>
            <input type="text" name="tags" placeholder="enter tags">
            <input type="number" name="likes" placeholder="enter likes">
            <input type="hidden" name="author" value="<%= author._id %>">
            <input type="submit" value="Submit">
          </form>
        </div>
      </section>
    </main>
  </body>
</html>
