<!DOCTYPE html>
<html>
  <head>
    <title>bookStore</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <main>
      <header>
        <img src="http://localhost:3000/images/open-book.svg" alt="book">
        <h1>
          <a href="/">bookStore</a>
        </h1>
      </header>
      <!-- Form Section -->
      <section>
				<div>
					<h3 class="form-header">Sign in to your bookStore account</h3>
				</div>
				<div class="form-container">
					<form class="form" action="/users/login" method="POST">
						<input required type="text" name="email" placeholder="Enter your email">
						<input required type="password" name="password" placeholder="Enter  password">
						<button type="submit">Sign In</button>
					</form>
				</div>
      </section>
    </main>
  </body>
</html>
